<div class="container">
    <div class="gx-4 ms-xxl-6 mt-4">
        <app-drop-down-list [labelName]="'請選擇分類'"></app-drop-down-list>
        <div class="calendar">
            <div class="d-flex align-items-center">
                <p class="mx-2">2024/1/1</p>
                <i class="icon-calendar-month"></i>        
            </div>
        </div>
    </div>
    <div class="gx-4 ms-xxl-6 mt-4">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">時間</th>
                            <th class="text-center">分類</th>
                            <th class="text-start">標題</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center" scope="row">16:44:00</th>
                            <td class="text-center">國際股市</td>
                            <td class="text-start">DJ研華財年淨利潤新台幣108.40億元，上年同期新台幣107.60億元</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>