<div class="container">
    <div class="mt-3 ms-xxl-6">
        <div class="row gx-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table" style="position: relative;">
                            <thead>
                                <tr>
                                    <th class="pb-4 text-start" rowspan="2" scope="col">日期</th>
                                    <th colspan="4">買賣超</th>
                                    <th colspan="4">持股估計</th>
                                </tr>
                                    <th class="p-1" scope="col">外資</th>
                                    <th class="p-1" scope="col">投信</th>
                                    <th class="p-1" scope="col">自營商</th>
                                    <th class="p-1" scope="col">三大法人</th>    
                                    <th class="p-1" scope="col">外資</th>    
                                    <th class="p-1" scope="col">投信</th>    
                                    <th class="p-1" scope="col">自營商</th>    
                                    <th class="p-1" scope="col">三大法人</th>    
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-start" scope="row">2024/1/4</th>
                                    <td class="text-end">78</td>
                                    <td class="text-end">265</td>
                                    <td class="text-end">55</td>
                                    <td class="text-end">399</td>
                                    <td class="text-end">18,945,856</td>
                                    <td class="text-end">327,675</td>
                                    <td class="text-end">230,495</td>
                                    <td class="text-end">19,504,062</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 mt-3">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>    
    </div>
</div>
<app-sidebar></app-sidebar>