<div class="level-1-wrapper col-md-2">
    <div class="rectangle level-1">
        <div class="rectangle-title">
            <p class="mb-0">股東權益報酬率</p>
        </div>
        <span>10.48%</span>
    </div>
</div>
<div class="level-2-wrapper col-md-4">
    <div class="rectangle level-2-1">
        <div class="rectangle-title">
            <p class="mb-0">資產報酬率</p>
        </div>
        <span>8.23%</span>
        <div class="circule" style="right: -40%;">×</div>
    </div>
    <div class="rectangle level-2-2">
        <div class="rectangle-title">
            <p class="mb-0">股東權益乘數</p>
        </div>
        <span>1.27</span>
    </div>
</div>
<div class="level-3-wrapper col-md-4">
    <div class="rectangle level-3-1">
        <div class="rectangle-title">
            <p class="mb-0">淨利率</p>
        </div>
        <span>12.44%</span>
        <div class="circule" style="right: -40%;">×</div>
    </div>
    <div class="rectangle level-3-2">
        <div class="rectangle-title">
            <p class="mb-0">總資產週轉率</p>
        </div>
        <span>66.16%</span>
    </div>
</div>
<div class="level-4-wrapper col-md-8">
    <div class="rectangle level-4-1">
        <div class="rectangle-title">
            <p class="mb-0">本期淨利</p>
        </div>
        <span>4369</span>
        <div class="circule" style="right: -40%;">÷</div>
    </div>
    <div class="rectangle level-4-2">
        <div class="rectangle-title">
            <p class="mb-0">營業收入</p>
        </div>
        <span>35127</span>
    </div>
    <div class="rectangle level-4-2">
        <div class="rectangle-title">
            <p class="mb-0">營業收入</p>
        </div>
        <span>35127</span>
        <div class="circule" style="right: -40%;">÷</div>
    </div>
    <div class="rectangle level-4-2">
        <div class="rectangle-title">
            <p class="mb-0">總資產</p>
        </div>
        <span>53095</span>
    </div>

</div>
<div class="level-5-wrapper col-md-12" >
    <div class="rectangle level-5" *ngFor="let item of level5; let i = index">
        <div class="rectangle-title">
            <p class="mb-0">{{item.type}}</p>
        </div>
        <div class="rectangle-content mb-2">
            <i class="up-arrow" (click)="changeValue('+', i)"></i>
            <span style="cursor: pointer;" (click)="openDialog(i)">{{item.value}}</span>
            <i class="down-arrow" (click)="changeValue('-', i)"></i> 
        </div>
        <div class="circule" [hidden]="item.operation===null">{{item.operation}}</div>
    </div>
    <div class="rectangle level-5">
        <div class="rectangle-title">
            <p class="mb-0">營業外收支</p>
        </div>
        <span>-163</span>
        <div class="circule">-</div>
    </div>
    <div class="rectangle level-5">
        <div class="rectangle-title">
            <p class="mb-0">所得稅</p>
        </div>
        <span>1335</span>
    </div>
</div>