<div class="container" style="position: relative;">
    <section class="row gx-4 ms-xxl-6 mt-3">
        <div class="orange-radio">
            <app-radio-box [radioName]="'前十大動態牆'" [id]="'dynamic-wall'" [isActive]="selectedRadio === 'dynamic-wall'"
                (click)="selectedRadio = 'dynamic-wall'"></app-radio-box>
            <app-radio-box [radioName]="'結構表'" [id]="'structure-table'" [isActive]="selectedRadio === 'structure-table'"
                (click)="selectedRadio = 'structure-table'"></app-radio-box>
            <app-radio-box [radioName]="'股東名冊'" [id]="'register-of-shareholder'"
                [isActive]="selectedRadio === 'register-of-shareholder'"
                (click)="selectedRadio = 'register-of-shareholder'"></app-radio-box>
            <div class="input-group mb-3 form-check-inline">
                <input type="text" class="form-control" placeholder="搜尋" aria-label="search"
                    aria-describedby="button-addon2">
                <i class="icon-bi-search" (click)="search()"></i>
            </div>
        </div>
        <ng-container *ngIf="selectedRadio === 'structure-table'">
            <div class="col-lg-6 mt-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th class="p-1 text-start" scope="col">股東結構類別</th>
                                <th class="p-1 text-end" scope="col">戶數</th>
                                <th class="p-1 text-end" scope="col">戶數增減</th>
                                <th class="p-1 text-end" scope="col">股數</th>
                                <th class="p-1 text-end" scope="col">平均持股</th>
                                <th class="p-1 text-end" scope="col">平均持股增減</th>
                                <th class="p-1 text-end" scope="col">持股比例</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-start" scope="row">政府(公營)機構投資</th>
                                    <td class="text-end">7</td>
                                    <td class="text-end">2</td>
                                    <td class="text-end">1,732,383,790</td>
                                    <td class="text-end">247,483,399</td>
                                    <td class="text-end">-83,408,820</td>
                                    <td class="text-end">6.68%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="card-title-1">持股比例</div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedRadio === 'register-of-shareholder'">
            <div class="col-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table" style="position: relative;">
                            <thead>
                                <th class="p-1 text-center" scope="col">排行</th>
                                <th class="p-1 text-center" scope="col">股東姓名</th>
                                <th class="p-1 text-end" scope="col">持股數</th>
                                <th class="p-1 text-end" scope="col">持股增減</th>
                                <th class="p-1 text-end" scope="col">持股比例</th>
                                <th class="p-1 text-center" scope="col">類別</th>
                                <!-- 下拉選單 -->
                                <select class="form-select table-form-select" aria-label="select">
                                    <option selected>全部</option>
                                </select>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row">1</th>
                                    <td class="text-center">AAA</td>
                                    <td class="text-end">12,539,000</td>
                                    <td class="text-end">+450,000</td>
                                    <td class="text-end">11.26%</td>
                                    <td class="text-start">僑外證券投信基金投資</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4 d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link-arrow" href="#" aria-label="Previous" disabled>
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#" [class.active]="true">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link-arrow" href="#" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <div class="info-select ms-4">
                        <p>資料筆數</p>
                        <select class="form-select form-select-orange" style="width: 79px;" id="floatingSelectGrid"
                            aria-label="Floating label select example">
                            <option value="1">10</option>
                        </select>
                    </div>
                </ul>
            </nav>

        </ng-container>


    </section>

</div>
<app-sidebar></app-sidebar>