<section class="container d-flex align-items-center">
    <div class="me-4">
        <app-drop-down-list [labelName]="'年份'"></app-drop-down-list>
    </div>
    <div class="me-4">
        <app-drop-down-list [labelName]="'月份'"></app-drop-down-list>
    </div>
    <div class="form-check orange-radio">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          模擬試算
        </label>
      </div>
</section>
<app-sidebar></app-sidebar>