<div class="container">
    <div class="gx-4 ms-xxl-6 mt-4">
        <app-drop-down-list [labelName]="'顯示期數'"></app-drop-down-list>
        <app-drop-down-list [labelName]="'顯示期數'"></app-drop-down-list>
    </div>
    <div class="row gx-4 mt-4 ms-xxl-6">
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body card-green">
                    <div class="card-title">
                        <div class="card-title-2 position-relative">存貨</div>
                    </div>
                    <div class="card-content d-flex justify-content-between">
                            <h3>4793.5<span>百萬</span></h3>
                            <p>去年3250.7</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body card-yellow">
                    <div class="card-title">
                        <div class="card-title-2 position-relative">存貨周轉率</div>
                    </div>
                    <div class="card-content d-flex justify-content-between">
                            <h3>5.92<span>天</span></h3>
                            <p>去年6.83</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body card-purple">
                    <div class="card-title">
                        <div class="card-title-2 position-relative">平均銷貨日數</div>
                    </div>
                    <div class="card-content d-flex justify-content-between">
                            <h3>61.66<span>天</span></h3>
                            <p>去年53.44</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>