<aside id="aside" class="aside" [class.visible]="isSidebarOpen">
    <div class="container-fluid" *ngIf="isSidebarOpen" style="margin-top: 150px; position: relative;">
        <ul *ngFor="let menu of sidebarMenu; let i = index;" >
            <li class="nav-item" role="button" [class.active]="isActive === i" (click)="toggleDropdown(i)"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="me-2" [ngClass]="menu.iconClass"></i>
                <span>{{menu.title}}</span>
                <i class="icon-vector-down"></i>
            </li>
            <ng-container *ngIf="isActive === i">
                <div class="dropdown-content" *ngFor="let item of sidebarMenu[i].items">
                    <a href="{{item.href}}" *ngIf="item.href" (click)="onItemClicked(item.title)">{{item.title}}</a>
                    <a style="cursor: pointer;" *ngIf="item.href==null" (click)="toggleDropdownChild(item)">{{item.title}}</a>
                </div>
                <div class="dropdown-content-child" *ngFor="let itemChild of sidebarMenu[i].itemsChild" [hidden]="!showChild">
                    <a href="{{itemChild.href}}" (click)="onItemClicked(itemChild.title)"><i class="trangle me-2"></i>{{itemChild.title}}</a>
                </div>
            </ng-container>
        </ul>
        <div class="sidebar-switch">
            <label class="switch-indicate-label-2" style="--width:44;--height:82">
                <input type="checkbox" #checkbox (click)="changeMode(checkbox.checked)">
                <div class="slide-toggle"></div>
                <i class="indicator"></i>
                <i class="icon-bi-sun"></i>
                <i class="icon-bi-moon"></i>
            </label>    
        </div>
</div>
</aside>
<button class="btn icon-arrow-bar-right" [hidden]="isSidebarOpen" (click)="toggleSidebar()"></button>
<button class="btn icon-arrow-bar-left" [hidden]="!isSidebarOpen" (click)="toggleSidebar()"></button>
