/* sidebar本體 */
.aside {
    width: 0;
    height: 100%; 
    padding-right: 80px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(44, 38, 32, 0.9) 0%, rgba(32, 29, 24, 0.95) 33.33%, rgba(46, 36, 27, 0.95) 66.67%, rgba(47, 39, 30, 0) 100%);
    overflow: hidden;
    /* 這裡好奇怪 */
    transition: 0.5s ease-out;
}

.aside.visible {
    width: 380px;
}

/* 欄位 */
.nav-item {
    display: flex;
    align-items: center;
    font-family: PingFang TC;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: 0.5s ease-out;
}

.nav-item span {
    color: rgba(217, 202, 184, 1);
    text-decoration: none;
    font-family: PingFang TC;
    font-size: 22px;
    font-weight: 400;
}

.nav-item:hover span,
.nav-item.active span {
    color: rgba(255, 168, 0, 1);
    transition: 0.5s ease-out;
}

/* 欄位箭頭 */
.nav-item .icon-vector-up {
    width: 16px;
    height: 16px;
    padding: 4.5px 1.5px 4.5px 1.5px;
    position: fixed;
    left: 270px;
    background-image: url('../../../assets/images/site-images/icon_vector_up.svg');
    display: none;
    opacity: 0;
}

.nav-item .icon-vector-down {
    width: 16px;
    height: 16px;
    margin-left: 50px;
    background-image: url('../../../assets/images/site-images/icon_vector_down.svg');
    opacity: 0;
}

.nav-item:hover .icon-vector-down,
.nav-item.active .icon-vector-down {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.nav-item:active .icon-vector-up {
    display: inline-block;
    opacity: 1;
}

/* icon */
/* 選單 */
.dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 3px 52px;
}

.dropdown-content a {
    font-family: PingFang TC;
    font-size: 18px;
    font-weight: 400;
    color: rgba(131, 124, 111, 1);
    text-decoration: none;
    margin-bottom: 3px;
    transition: 0.5s ease-out;
}

.dropdown-content a:hover,
.dropdown-content a.active {
    color: rgba(255, 168, 0, 1);
}

.dropdown-content-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 4px 0;
}

.dropdown-content-child a {
    font-family: PingFang TC;
    font-size: 16px;
    font-weight: 400;
    color: rgba(139, 159, 188, 1);
    text-decoration: none;
    transition: 0.5s ease-out;
}

.dropdown-content-child:hover a,
.dropdown-content-child.active a {
    color: rgba(229, 234, 242, 1);
}

.dropdown-content-child .trangle {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(139, 159, 188, 1);
    display: inline-block;
}

.dropdown-content-child:hover .trangle,
.dropdown-content-child.active .trangle {
    border-left: 4px solid rgba(229, 234, 242, 1);
}