<div class="container" style="position: relative;">
    <div class="row gx-4 ms-xxl-6 mt-3">
        <div class="orange-radio">
            <app-radio-box [radioName]="'年資料'" [id]="'yearData'" [isActive]="selectedRadio === 'yearData'"
                (click)="selectedRadio = 'yearData'"></app-radio-box>
            <app-radio-box [radioName]="'季資料'" [id]="'quarterData'" [isActive]="selectedRadio === 'quarterData'"
                (click)="selectedRadio = 'quarterData'"></app-radio-box>
            <app-radio-box [radioName]="'月資料'" [id]="'monthData'" [isActive]="selectedRadio === 'monthData'"
                (click)="selectedRadio = 'monthData'"></app-radio-box>
            <app-drop-down-list [labelName]="'顯示期數'"></app-drop-down-list>
            <label class="switch-indicate-label" style="--width:82;--height:44">
                <input type="checkbox" (change)="changeSlideToggle($event)">
                <div class="slide-toggle"></div>
                <i class="indicator"></i>
                <i class="icon-bi-table"></i>
                <i class="icon-bi-pie-chart"></i>
            </label>
        </div>
    </div>
    <section class="row mt-4 ms-xxl-6">
        <ng-container *ngIf="!slideToggle; else pieChart">
            <div class="col-lg-12">
                <div class="card mt-3">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th class="p-1 text-start" scope="col">科目</th>
                                <th class="p-1 text-end" scope="col">2022</th>
                                <th class="p-1 text-end" scope="col">2021</th>
                                <th class="p-1 text-end" scope="col">2020</th>
                                <th class="p-1 text-end" scope="col">2019</th>
                                <th class="p-1 text-end" scope="col">2018</th>
                                <th class="p-1 text-end" scope="col">2017</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="p-1 text-start" scope="row">2023</th>
                                    <td class="p-1 text-end">1,059</td>
                                    <td class="p-1 text-end">601</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                <tr>
                                    <th class="p-1 text-start" scope="row">2023</th>
                                    <td class="p-1 text-end">1,059</td>
                                    <td class="p-1 text-end">601</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                    <td class="p-1 text-end">182</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #pieChart>
            <div class="row gx-4">
                <div class="col-lg-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title">
                                <p class="card-title-1">流動資產</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title">
                                <p class="card-title-1">非流動資產</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-4">
                <div class="col-lg-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title">
                                <p class="card-title-1">預付款項</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-title">
                                <p class="card-title-1">使用權資產</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </section>
    <div class="plus-btn" [hidden]="!slideToggle">
        <i class="icon-btn-plus"></i>
        <span>新增<br>項目</span>
    </div>
</div>
<app-sidebar></app-sidebar>