<div class="container">
    <div class="ms-xxl-6 mt-3">
        <app-drop-down-list [labelName]="'年份'"></app-drop-down-list>
        <app-drop-down-list [labelName]="'月份'"></app-drop-down-list>
        <div class="row gx-4 align-items-start mt-3">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-3">
                    <div class="card-body card-dark-blue">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">流動資產</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-assets-fill"></i>
                                <div class="ms-2">
                                    <h3>21,753<span>百萬</span></h3>
                                    <p>去年 34.99百萬</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-3">
                    <div class="card-body card-brown">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">非流動資產</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-non-assets-fill"></i>
                                <div class="ms-2">
                                    <h3>8,146<span>百萬</span></h3>
                                    <p>去年 34.99百萬</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-3">
                    <div class="card-body card-gold">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">流動負債</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-liabilities-fill"></i>
                                <div class="ms-2">
                                    <h3>3.13<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-3">
                    <div class="card-body card-yellow">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">非流動負債</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-non-liabilities-fill"></i>
                                <div class="ms-2">
                                    <h3>3.13<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row gx-4 align-items-start mt-3">
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-body d-flex">
                        <div class="col-md-4">
                            <div class="card-title">
                                <div class="card-dark-blue">
                                    <p>資產</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-title">
                                <div class="card-gold">
                                    <p>資產走勢</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-body d-flex">
                        <div class="col-md-4">
                            <div class="card-title">
                                <div class="card-dark-blue">
                                    <p>負債</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-title">
                                <div class="card-gold">
                                    <p>負債走勢</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
