    <section class="container d-flex">
        <div style="margin-right: 30px;">
            <app-drop-down-list [labelName]="'年份'"></app-drop-down-list>
        </div>
        <div>
            <app-drop-down-list [labelName]="'月份'"></app-drop-down-list>
        </div>
    </section>
    <section class="container mt-4">
        <div class="row gx-4 align-items-start">
            <div class="col-12 col-md-1-5">
                <div class="card mt-3">
                    <div class="card-body card-green">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">營業收入</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-purse-fill"></i>
                                <div class="ms-2">
                                    <h3>3.13<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <p class="text-center">去年同期2.64百萬</p>
                                    <p class="text-center">YOY<span class="card-green ms-2">44%</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">全年目標33.87百萬</p>
                                    <p class="text-center">達成率<span class="card-green ms-2">44%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-1-5">
                <div class="card mt-3">
                    <div class="card-body card-yellow">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">營業成本</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-cogs-fill"></i>
                                <div class="ms-2">
                                    <h3>1.86<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <p class="text-center">去年同期2.64百萬</p>
                                    <p class="text-center">YOY<span class="card-yellow ms-2">44%</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">全年目標33.87百萬</p>
                                    <p class="text-center">達成率<span class="card-yellow ms-2">44%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-1-5">
                <div class="card mt-3">
                    <div class="card-body card-purple">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">營業毛利</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-gross-profit-fill"></i>
                                <div class="ms-2">
                                    <h3>1.27<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <p class="text-center">去年同期2.64百萬</p>
                                    <p class="text-center">YOY<span class="card-purple ms-2">44%</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">全年目標33.87百萬</p>
                                    <p class="text-center">達成率<span class="card-purple ms-2">44%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-1-5">
                <div class="card mt-3">
                    <div class="card-body card-red">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">營業費用</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-wallet-fill"></i>
                                <div class="ms-2">
                                    <h3>0.21<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <p class="text-center">去年同期2.64百萬</p>
                                    <p class="text-center">YOY<span class="card-red ms-2">44%</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">全年目標33.87百萬</p>
                                    <p class="text-center">達成率<span class="card-red ms-2">44%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-1-5">
                <div class="card mt-3">
                    <div class="card-body card-blue">
                        <div class="card-title">
                            <div class="card-title-2 position-relative">稅前淨利</div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex">
                                <i class="icon-net-profit-fill"></i>
                                <div class="ms-2">
                                    <h3>1.05<span>百萬</span></h3>
                                    <p>YTD 34.99百萬</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-6">
                                    <p class="text-center">去年同期2.64百萬</p>
                                    <p class="text-center">YOY<span class="card-blue ms-2">44%</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-center">全年目標33.87百萬</p>
                                    <p class="text-center">達成率<span class="card-blue ms-2">44%</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 align-items-start">
            <div class="col-12 col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="card-title d-flex">
                            <div class="card-title-1">
                                <a class="btn" [class.active]="true">營業收入</a>
                                <a class="btn">營業成本</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="card-title-1">營業費用</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 align-items-start">
            <div class="col-12 col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="card-title-1">營業毛利</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="card-title-1">稅前淨利</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
<app-sidebar></app-sidebar>