<div class="container">
    <div class="row gx-4 ms-xxl-6 mt-3">
        <div class="col-12">
            <h5>2023 Q3</h5>
            <div class="card mt-4">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th class="p-1 text-start" scope="col">公司名稱</th>
                            <th class="p-1 text-end" scope="col">當期損益</th>
                            <th class="p-1 text-end" scope="col">持股數</th>
                            <th class="p-1 text-end" scope="col">持股比例</th>
                            <th class="p-1 text-end" scope="col">原始投資</th>
                            <th class="p-1 text-end" scope="col">帳面金額</th>
                            <th class="p-1 text-end" scope="col">認列損益</th>
                            <th class="p-1 text-center" scope="col">主要營業項目</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-start" scope="row">精誠軟體服務公司</th>
                                <td class="text-end">1,059</td>
                                <td class="text-end">601</td>
                                <td class="text-end">100%</td>
                                <td class="text-end">182</td>
                                <td class="text-end">1,059</td>
                                <td class="text-end">601</td>
                                <td class="text-center">..........</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>