/* You can add global styles to this file, and also import other style files */
html,
body {
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

#page-wrapper {
  position: relative;
  min-height: 1080px;
  background-image: url('assets/images/site-images/main_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}