<div class="container">
    <div class="row gx-4 ms-xxl-6 mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <p class="card-title-1">未來12個月預測</p>
                    </div>
                    <table class="table">
                        <thead>
                            <th class="p-1" scope="col"></th>
                            <th class="p-1 text-end" scope="col">1月</th>
                            <th class="p-1 text-end" scope="col">2月</th>
                            <th class="p-1 text-end" scope="col">3月</th>
                            <th class="p-1 text-end" scope="col">4月</th>
                            <th class="p-1 text-end" scope="col">5月</th>
                            <th class="p-1 text-end" scope="col">6月</th>
                            <th class="p-1 text-end" scope="col">7月</th>
                            <th class="p-1 text-end" scope="col">8月</th>
                            <th class="p-1 text-end" scope="col">9月</th>
                            <th class="p-1 text-end" scope="col">10月</th>
                            <th class="p-1 text-end" scope="col">11月</th>
                            <th class="p-1 text-end" scope="col">12月</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center" scope="row">初期餘額</th>
                                <td class="text-end">1,059</td>
                                <td class="text-end">601</td>
                                <td class="text-end">182</td>
                                <td class="text-end">182</td>
                                <td class="text-end">1,059</td>
                                <td class="text-end">601</td>
                                <td class="text-end">182</td>
                                <td class="text-end">182</td>
                                <td class="text-end">1,059</td>
                                <td class="text-end">601</td>
                                <td class="text-end">182</td>
                                <td class="text-end">182</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
