<div class="container">
    <div class="ms-xxl-6 mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h1 class="me-4" style="color: rgba(201, 186, 127, 1);">美國－聯邦基金目標利率</h1>
                <h1 style="color: rgba(255, 220, 81, 1);">5.50 - 5.25</h1>
            </div>
            <div style="color: rgba(229, 234, 242, 1);">
                <p class="mb-0">最新發布：<span>yyyy/mm/dd</span></p>
                <p class="text-end">單位：%</p>
            </div>
        </div>
        <p class="mb-0" style="color: rgba(201, 186, 127, 1);">(The target range for the federal funds rate)</p>
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <p class="card-title-1 me-4 pt-2">資料查詢</p>
                        <select class="form-select pt-0" aria-label="select">
                            <option selected>2023</option>
                        </select>
                    </div>
                    <div class="card-content">
                        <table class="table">
                            <thead class="">
                                    <th class="th1" scope="col">發布日期(台灣時間)</th>
                                    <th scope="col">2/2</th>
                                    <th scope="col">3/23</th>
                                    <th scope="col">5/4</th>
                                    <th scope="col">6/15</th>
                                    <th scope="col">7/27</th>
                                    <th scope="col">9/21</th>
                                    <th scope="col">11/21</th>
                                    <th scope="col">12/14</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="th1" scope="row">利率決策</th>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                    <td>調升1碼</td>
                                </tr>
                                <tr>
                                    <th class="th1" scope="row">目標上限</th>
                                    <td>4.75</td>
                                    <td>5.00</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                </tr>
                                <tr>
                                    <th class="th1" scope="row">目標下限</th>
                                    <td>4.75</td>
                                    <td>5.00</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                    <td>5.26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        <p class="card-title-1 pt-2">聲明稿摘要</p>
                    </div>
                    <div class="card-content">
                        <p class="mb-0">
                            1.美國經濟近期的一些趨勢，包括消費和生產的穩定增長，就業率維持低水平但通脹仍然高企。<br>
                            2.FOMC強調美國銀行系統健全且具有彈性，但最近的發展可能會導致家庭和企業信貸條件更為嚴格，進而影響經濟活動、就業和通脹。<br>
                            3.FOMC的目標是實現長期內就業最大化和通脹率2%的目標。<br>
                            4.FOMC決定將聯邦基金利率的目標區間上調至4.75%至5%。<br>
                            5.FOMC預計，在未來的政策緊縮中，可能需要進行一些額外的政策加強，以實現貨幣政策足夠嚴格，從而將通脹率恢復到2%。<br>
                            6.在決定未來目標區間上調的幅度時，FOMC將考慮貨幣政策的累計緊縮，貨幣政策對經濟活動和通脹的影響滯後，以及經濟和金融發展等因素。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>